<div class="row text-center">
<h1 class="text-capitalize">Medical Equipment & Tracking System</h1>
</div>
<!-- <div class="row text-center">
    <h1 class="text-capitalize">Medical Equipment & Tracking System</h1>
    </div>
    
    <div *ngIf="roleName==='HOSPITAL'">
        <app-createhospital></app-createhospital>
        <app-orders></app-orders>
        <app-maintenance></app-maintenance>
        <app-requestequipment></app-requestequipment>
        <app-schedule-maintenance></app-schedule-maintenance>
    </div>
    
    <div *ngIf="roleName==='TECHNICIAN'">
        <app-maintenance></app-maintenance>
    </div>
    
    <div *ngIf="roleName==='SUPPLIER'">
        <app-orders></app-orders>
    </div> -->